<% selected_answer = get_selected_answer %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Quiz by <%= @quiz.user_name %></strong>
</p>

<div>
	<div>
		<p><%= @question.question %></p>
	</div>
	<div id="answers">
		<%= hidden_field_tag 'answer_question_path', quiz_answer_question_path(@quiz, @question)  %>
		<% @question.answers.each do |answer| %>

			<div>
				<% answered = selected_answer && selected_answer.id == answer.id %>
				<%= radio_button_tag :answer, answer.id, answered %>
				<%= label_tag "answer_#{answer.id}", answer.answer %>
			</div>
		<% end %>
	</div>
</div>

<br>
<br>

<% if prev? %>
	<%= link_to 'Previous question', previous_question_path %>
<% end %>
<br>
<% if next? %>
	<%= link_to 'Next question', next_question_path %>
<% else %>
	<%= link_to 'Complete survey!', root_path %>
<% end %>



<%= javascript_pack_tag 'answer_question' %>
