<% selected_answer = get_selected_answer %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Quiz by <%= @quiz.user_name %></strong>
</p>

<div>
	<div>
		<p><%= @question.question %></p>
	</div>
	<div id="answers">
		<%= hidden_field_tag 'answer_question_path', quiz_answer_question_path(@quiz, @question)  %>
		<% @question.answers.each do |answer| %>

			<div>
				<% answered = selected_answer && selected_answer.id == answer.id %>
				<%= radio_button_tag :answer, answer.id, answered %>
				<%= label_tag "answer_#{answer.id}", answer.answer %>
			</div>
		<% end %>
	</div>
</div>


<%= link_to 'Back', root_path %>

<%= javascript_pack_tag 'answer_question' %>
